<div id="blog">
    <h2>Blog</h2>
    <div class="card"><p>Here 7/11 Jesus discusses important issues, inside and out of music.</p></div>

    <div class="card" id="Centrum-Multigummies">
        <h3>My comprehensive review on Centrum MultiGummies.</h3>
        <img width="95%" src='/images/CentrumMultigummues.jpeg'></img>
        <br>
        <p>
        The people need to know about Centrum MultiGummies. How do they compare to the kings of the gummy vitamin market place, Flinstone Vitamins? Do they pass the litmus test of quality vitamin supplements? Will they boost testosterone, help the user swindle the opposite sex, and foster economic stability in the middle class? During the drafting of this review, I have ingested at least 10x the recommended daily serving size to provide the readers my freshest impressions of Centrum MultiGummies.  </p><br>

        <h4>The Experience:</h4>
        <p>Any gummy chemist worth his salt knows that the chewability ratio (comprised of the amount of bite strength to gummy penetration) should not exceed 7.1, the rubber danger zone, nor should it be less than 1.73, the mush zone. Centrum MultiGummies border on a 6.4/6.5 ratio. While I would usually deem this to be too high for a multivitamin, Centrum pleasantly surprises me with the rewarding internal flavor one reaches when successfully penetrating the gummy’s skin. </p><br>

        <h4>The After Taste:</h4>
        <p>The after taste is the worst part about these vitamins. At 10:32am I ingested two gummies, specifically, the gummies imitating an “apricot” and “orange slice”. Shortly after, I ate a bag of Uncle Ben’s Spanish Style Ready Rice (a product that deserves a whole research paper dedicated to the intricacies of it’s taste, texture, and tang). 
        <br><br>At roughly 11:08am, the bitter after taste of plastic apery lingered in my mouth. While Centrum’s initial flavor is pleasing, the coating the gummy leaves behind in one’s mouth is so intrusive it reminds one of their condemned state to only experience one life. Centrum, I am not a god, I am not a wizard, a Burd, a pharaoh, nor a saint. I am a mortal damned to one body, damned to experience the nauseating and detestable aftertaste of your poorly engineered gummy. My tastebud’s will never get back that hour of sadistic torture your multi-vitamins have inflicted on me. </p><br>

        <h4>The Ingredients:</h4>
        <p>Centrum MultiGummies are 10 calories a serving. Suspiciously, I have also gained eight pounds since I started taking Centrum MultiGummies. Obviously, we know what vitamin supplement company is to blame for this. These calories account for around ten different vitamins which are advertised to help one’s metabolism, give one energy, and grant one immunity. I have no scientific data to support the first two claims; however, during my time taking Centrum MultiGummies I was a participant on the gameshow Survivor. <br><br>
        I believe the immunity Centrum MultiGummies gave me helped me stay on the island until Survivor host, Jeff Probst, realized that I had the unfair advantage of webbed feet. He disqualified me from the show. Jeff, I understand your choice to remove me and I am not mad. I will never forget our late night conversations under the moonlight illuminating by Hallow Peak Bay as we sipped our kahlua coconut concoction. If you’re reading this, please tell your wife to accept my LinkedIn connection.  </p><br>
        <h4>The Small Business Factor:</h4>
        <p>No matter how large a company becomes, their customer service should maintain that “small business” feel. I was delighted to find Centrum listed a telephone number to call for questions and comments regarding their product. I called to talk to a gummy ambassador to tell them of my thoughts. An abrasive automated voice message greeted me. Great, I thought, Centrum really cares about the dwindling middle class. They’d rather save some petty cash than connect me with a real life human. 
        <br><br>I proceeded on to the prompt which would allow me to talked to a representative. The abrasive, lifeless, hollow automated voice continued to sputter words. Centrum would rather put money in the hands of automaters, who progress AI to the point of consciousness, inevitably leading to the prophecy of 2001: A Space Odyssey, than give the average hardworking American a decent salary. Despicable. Just as I thought it couldn’t get any worse, I was stone-walled with the, “We are closed now, our normal office hours are from …”. <br><br>
         I was OUTRAGED. Centrum is a huge player in the Multivitamin Gummy Supplement market place. Are they not concerned at <i>all</i> about the immediacy of a comment a gummy supplement consumer may have? Centrum let me down in this regard. I may even discontinue my use of Centrum MultiGummies. It’s hard to give money to a corporation that I know is feeding the research of human extinction as we know it. </p><br>

        <div class="center-text">
        <h4>Summary Scorecard:</h4>
        <p>
        The Flinstone Scale: 6/Flinstone <br>
        Chewability: 6.45 <br>
        Grants immunity: Yes <br>
        Gummy chemist competence: Low <br>
        Soul-sucking corporation? Yes <br>
        Can you pick these up at your local 7-11? Probably not</p><br>
        <br><br><br>
        - the drummer, kieran
        </p></div>
    </div>
</div>

<link rel='stylesheet' href='/stylesheets/blog.css' />
