<div id="main">

<h2 onclick="javascript:transitionToPage('music')" id="music" class="grow rotate-right">Music</h2>
<h2 onclick="javascript:transitionToPage('tour')" id="tour" class="grow rotate-left">Tour Dates</h2>
<h2 onclick="javascript:transitionToPage('who')" id="who" class="grow rotate-right">Who is 7-11 Jesus?</h2>
<h2 onclick="javascript:transitionToPage('blog')" id="blog" class="grow rotate-right">Blog</h2>

</div>

<link rel='stylesheet' href='/stylesheets/index.css' />