<!DOCTYPE html>
<meta name="viewport" content="width=device-width, initial-scale=1">
<html>
  <head>
    <title>{{title}}</title>
    <link href="https://fonts.googleapis.com/css?family=Knewave|Sigmar+One|Sniglet:800" rel="stylesheet">
    <link rel='stylesheet' href='/stylesheets/style.css' />
    <script
    src="https://code.jquery.com/jquery-3.3.1.min.js"
    integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8="
    crossorigin="anonymous"></script>
    <script
    src="https://code.jquery.com/ui/1.12.1/jquery-ui.min.js"
    integrity="sha256-VazP97ZCwtekAsvgPBSUwPFKdrwD3unUfSGVYrahUqU="
    crossorigin="anonymous"></script>
  </head> 
  <body>        
    {{{body}}}
    <div id="stripes">
      <div id="orange"></div>
      <div id="green"></div>
      <div id="red"><h6 onclick="javascript:transitionToPage('')" id="home-button">Home</h6></div>
    </div>
  </body>
  <script src="../javascripts/main.js"></script>
</html>
