<!DOCTYPE html>
<meta name="viewport" content="width=device-width, initial-scale=1">
<html>
  <head>
    <title>{{title}}</title>
    <link href="https://fonts.googleapis.com/css?family=Oswald" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Jacques+Francois" rel="stylesheet">
    <link rel='stylesheet' href='/stylesheets/style.css' />
    <script
    src="https://code.jquery.com/jquery-3.3.1.min.js"
    integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8="
    crossorigin="anonymous"></script>
    <script
    src="https://code.jquery.com/ui/1.12.1/jquery-ui.min.js"
    integrity="sha256-VazP97ZCwtekAsvgPBSUwPFKdrwD3unUfSGVYrahUqU="
    crossorigin="anonymous"></script>
  </head>
  <body>
    <div class="header">
      <ul id="headmast">
        <h1><a href="/">ANIMAL TESTING RECORDS</a></h1>
      </ul>
      <ul class="navigation">
        <div id="artists" class="header-link">
          <a href="/artists"><h3>ARTISTS</h3></a>
          <img src="images/animals/snek.png"></img>
        </div>
        <!-- <a href="/blog"><h3 id="">Blog</h3></a> -->
        <div id="contact" class="header-link">
          <a href="/contact"><h3>CONTACT</h3></a>
          <img src="images/animals/monkey.png"></img>
        </div>
      </ul>
    </div>
    <div class="wrapper">
      {{{body}}}
    </div>
    <footer class="footer">

    </footer>
  </body>
  <script src="../javascripts/main.js"></script>
</html>
