<div id="music" class="main">
    <h2>Music</h2>
    <div class="card">
        <a href="https://7-11jesus.bandcamp.com/releases">Our music can be found on Bandcamp</a>
        <br>
        <br>        
        <h3>Discography</h3>
        <div class="album">
            <a href="https://7-11jesus.bandcamp.com/album/oh-no"><img src="/images/Oh No Cover.jpg" alt="Oh No"></a>
        </div>        
    </div>    
</div>

<link rel='stylesheet' href='/stylesheets/music-tour-who.css' />