<div id="secret">
    <h2>Secrets of 7-11 Jesus</h2>
    <p id="code">{{code}}</p>
    <div id="treasure-display" class="card">
        <h3>Because you have high-priest level knowledge of 7-11 Jesus scripture, here is some treasure of 7-11 Jesus</h3>
        <img id="image" src="" alt="">
        <div id="message"></div>
    </div>
    <div class="card">
        <p>Hello traveler, I see you have found your way to this secret page on 711Jesus.faith. You may be wondering,
            why is this here? What is there to gain from being here? Is this the beginning to a great adventure
            that may lead me to a secret waterpark where every ride is made out edible treats and where there is 
            no waiting for lines? To find out the answers to these questions, you must show you are worthy of the 
            knowledge by solving the following puzzle.
        </p>
    </div>
    <div class="card">
        <h1>Commandments of 7-11 Jesus</h1>
        <p>Thou Shalt Not Have Any 
            <select id="answer1"class="dropdown">
                <option value="">Blank</option>
                <option value="P">Pinto</option>
                <option value="O">Ovlov</option>
                <option value="7">7-11 Jesus</option>
                <option value="W">Wag</option>
            </select>
        's Before Me</p>
        <p>Thou Shall <input type="text" name="answer2" id="answer2"> the Man <a href="https://schlotman.bandcamp.com/">(hint)</a></p>
        <p>Thou Shalt Honor Thy 
            <select id="answer3"class="dropdown">
                <option value="">Blank</option>
                <option value="BK">Burd and Kyle</option>
                <option value="MF">Mother and Father</option>
                <option value="EA">Emma and August</option>
                <option value="AA">Centrum Multigummies Factory</option>
            </select>
        </p>
        <p>Remember the 
            <select id="answer4"class="dropdown">
                <option value="">Blank</option>
                <option value="S">Saturday</option>
                <option value="F">Friday</option>
                <option value="W">Wenendzday</option>
                <option value="M">Monday</option>
            </select>
            , to Keep it for the Bois</p>
        <!-- Thou shalt not look at our source code -->
        <button id="submit-btn">submit mf</button>
    </div>    
</div>

<script>

var code = $('#code').text();
var puzzle_num = 1;

$('#submit-btn').click(function() {

    var a1 = $('#answer1').val().toUpperCase();
    var a2 = $('#answer2').val().toUpperCase();
    var a3 = $('#answer3').val().toUpperCase();
    var a4 = $('#answer4').val().toUpperCase();
    var data = {a1: a1, a2: a2, a3: a3, a4: a4};
    
    var url = "/secret/" + code + "/puzzle/" + puzzle_num;

    $.post(url, data, function (res) {
        if (res.success) {
            // Request treasure
            url = "/secret/" + code + "/treasure";
            $.get(url, function(res) {
                console.log(res.treasure);
                show_treasure(res.treasure);
            });
        }
    });
});

function show_treasure (treasure) {
    $('#treasure-display #message').text(treasure.message);
    $('#treasure-display #image').attr('src', treasure.image);
    $('#treasure-display').css({display: 'inline'});
    $('#treasure-display #image').css({display: 'inline', height: $(window).height()});

    $('#treasure-display').animate({
        width: '80%',
        height: '140%',
    }, { duration: 'slow', easing: 'easeInOutBack' });
}

</script>

<style>

h2 {
    text-shadow: -3px -3px 0 #fc213f, -3px -2px 0 #fc213f, -3px -1px 0 #fc213f, -3px 0px 0 #fc213f, -3px 1px 0 #fc213f, -3px 2px 0 #fc213f, -3px 3px 0 #fc213f, -2px -3px 0 #fc213f, -2px -2px 0 #fc213f, -2px -1px 0 #fc213f, -2px 0px 0 #fc213f, -2px 1px 0 #fc213f, -2px 2px 0 #fc213f, -2px 3px 0 #fc213f, -1px -3px 0 #fc213f, -1px -2px 0 #fc213f, -1px -1px 0 #fc213f, -1px 0px 0 #fc213f, -1px 1px 0 #fc213f, -1px 2px 0 #fc213f, -1px 3px 0 #fc213f, 0px -3px 0 #fc213f, 0px -2px 0 #fc213f, 0px -1px 0 #fc213f, 0px 0px 0 #fc213f, 0px 1px 0 #fc213f, 0px 2px 0 #fc213f, 0px 3px 0 #fc213f, 1px -3px 0 #fc213f, 1px -2px 0 #fc213f, 1px -1px 0 #fc213f, 1px 0px 0 #fc213f, 1px 1px 0 #fc213f, 1px 2px 0 #fc213f, 1px 3px 0 #fc213f, 2px -3px 0 #fc213f, 2px -2px 0 #fc213f, 2px -1px 0 #fc213f, 2px 0px 0 #fc213f, 2px 1px 0 #fc213f, 2px 2px 0 #fc213f, 2px 3px 0 #fc213f, 3px -3px 0 #fc213f, 3px -2px 0 #fc213f, 3px -1px 0 #fc213f, 3px 0px 0 #fc213f, 3px 1px 0 #fc213f, 3px 2px 0 #fc213f, 3px 3px 0 #fc213f, 6px 5.25px 0px #b2112e, 5.25px 6px 0px #b2112e;
}

#treasure-display {
    margin: 0;
    position: absolute;
    display: none;
    top: 10px;
    width: 0%;
    height: 0%;
    left: 50%;
    transform: translateX(-50%);
    z-index: 10;
}

#code {
    display: none;
}

select {
    width: auto;
    padding: 5px 35px 5px 5px;
    font-size: 16px;
    border: 1px solid #ccc;
    height: 34px;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    background: url("/images/slushee-background.png") 10% / 15% #ffffff;
}

</style>
