<div id="tour" class="main">
    <h2>Tour</h2>
    <div class="card">
        <p>Want to play with us?<br> Message us on our <a href="https://www.facebook.com/711jesus/">facebook</a> page</p>
    </div>
    <div class="card center-text">        
        <h3 class="tour-title">United States</h3>
        <p>TBA</p>
        <br>
        <h3 class="tour-title">Europe</h3>
        <p>WaterWorld, Cyprus - 12/23/2004</p>
        <br>
        <h3 class="tour-title">Mars</h3>
        <p>Elon Musk's bachelor pad, Sector 4zA7 - 06/28/2044 (Invite Only)</p>
        <br>        
    </div>
</div>

<link rel='stylesheet' href='/stylesheets/music-tour-who.css' />