@import 'variables';

$stroke-width: 3;

h2 {    
    cursor: pointer;
}

#main {
    margin-top: 20px; 
    display:flex;
    flex-direction:column;
}

#music {    
    width: 100%;
    height: 30%;
    @include stroke-and-shadow($stroke-width, $red, $dark-red);
}

#tour {
    width: 100%;
    height: 30%;
    @include stroke-and-shadow($stroke-width, $green, $dark-green);
}

#who {
    width: 100%;
    height: 30%;
    @include stroke-and-shadow($stroke-width, $orange, $dark-orange);
}

#blog {
    width: 100%;
    height: 30%;
    @include stroke-and-shadow($stroke-width, $red, $dark-red);
}

