@import 'variables';

$stroke-width: 3;

p {
   @include stroke-and-shadow(2, black, black);
}

a {
    color: darken($light-blue, 20%) !important;
}

#music {    
    h2 {
        @include stroke-and-shadow($stroke-width, $red, $dark-red);
    }

    a {
        color: darken($light-blue, 50%) !important;
    }

    img {    
        width: 20%;
    }
}

#tour {
    h2 {
        @include stroke-and-shadow($stroke-width, $green, $dark-green);
    }
}

#who {
    h2 {
        @include stroke-and-shadow($stroke-width, $orange, $dark-orange);
    }
}
