@import 'variables';

$stripe-height: 10px;

body {
  font: 55px;
  padding-bottom: 50px;
  font-family: 'Sniglet', cursive;
  background: $light-blue;
  margin: 0px;
  overflow-x: hidden; 
  text-align: center;
  background-repeat: repeat;
  background-image: url("/images/slushee-background.png");
  background-size: 10em; 
}

#stripes {  

  #orange, #green, #red {
    position: fixed;    
    width: 110%; 
    left: -5px;
    height: $stripe-height;
    border-style: solid;
  }

  #orange {
    bottom: $stripe-height*4;
    border-color: $orange;
    background-color: $orange;
    border-bottom: $stripe-height solid $dark-orange;
  }

  #green {
    bottom: $stripe-height*2;
    border-color: $green;
    background-color: $green;
    border-bottom: $stripe-height solid $dark-green;
  }

  #red {
    bottom: -$stripe-height*.30;
    border-color: $red;
    background-color: $red;
    border-bottom: $stripe-height solid $dark-red;

    #home-button {
      cursor: pointer;
      opacity: 0;
      color: white;
      position: fixed;
      left: 46%;
      font-size: 30px;
      -webkit-margin-before: 0em;
      -webkit-margin-after: 10px;
      -webkit-margin-start: 0px;
      -webkit-margin-end: 0px;
    }
  }
}

a         { text-decoration: none; }
a:visited { color: inherit;        }

h2 {
  font-size: 65px;
  color: white;
  -webkit-margin-before: 0.55em;
  -webkit-margin-after: 0.55em;
  -webkit-margin-start: 0px;
  -webkit-margin-end: 0px;
}

p, a {
  font-size: 35px;
  color: white;
  /*@include stroke-and-shadow(2, black, black);*/
}

.grow, .rotate-left, .rotate-right { transition: all .2s ease-in-out; }

.grow:hover { transform: scale(1.25); }
.rotate-left:hover  { transform: rotate(-7deg); }
.rotate-right:hover { transform: rotate(7deg); }

/* Card to display information like a blog post */
.card {
    
    background-color: white;

    -webkit-box-shadow: 10px 9px 0px -4px rgba(0,0,0,0.05);
    -moz-box-shadow: 10px 9px 0px -4px rgba(0,0,0,0.05);
    box-shadow: 10px 9px 0px -4px rgba(0,0,0,0.05);

    margin-left: 65px;
    margin-right: 65px;
    margin-bottom: 35px;
    padding: 30px;    

    h3 {
        font-size: 45px;
    }

    h4 {
        font-size: 35px;
    }

    p {
        font-family: "Comic Sans MS", sans-serif;
        color: black !important;
        font-size: 20px !important;
        text-align: left;
    }

    .center-text {
      text-align: center !important;
    }

    @media screen and (max-width: $screen-small) {
      margin-left: 5px;
      margin-right: 5px;

      h3, h4 {
        font-size: 35px;
      }

      p {
          font-size: 18px !important;
      }
    }
}


